{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Baseline</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{%  static 'css/charts1112222222222.css' %}">
  <link rel="icon" href=" {%  static 'img/logo.png' %}" type="image/gif" sizes="96x96">
            <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="https://cdn.plot.ly/plotly-1.58.4.min.js"></script>
    <script src="{%  static 'js/charts.js' %}" rel="script"></script>

</head>
<body>
<a id="topBtn"></a>
<div id="webContainer">
    <header id="header">
            <div id="logoWrapper">
                <img id="logoPic" src="{%  static 'img/logo.png' %}" alt="Baseline logo, a combo graph">
                <h1 id="logo">BASELINE</h1>
            </div>
        <form class='back' action="/">
        <button type="submit" id="back_btn">
            <img id="back" src="{% static 'img/backb.png' %}" alt="arrow">
            USA Map
        </button>
        </form>
    </header>


<div id="main">
<div class="emptySpace"></div>
     <div id="dashboard">
          {% autoescape off %}
         <div id="top">
             <div id="snap">{{ snap|safe }}</div>
{#         <div id="county">{{ county|safe }}</div>#}
              </div>
              <div class="emptySpace"></div>
              <div id="middle">
              <div id="pop">{{ pop|safe }}</div>
             <div id="employment">{{ employment|safe }}</div>
              </div>
              <div class="emptySpace"></div>
              <div id="bottom">
              <div id="bank">{{ bank|safe }}</div>
                  <div id="household">{{ household|safe }}</div>
              </div>
           {% endautoescape %}
     <div class="emptySpace"></div>
     </div>
</div>

<footer>
    <div class="contact"></div>
    <a href="#topBtn" class="myBtn">Go to Top</a>
</footer>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>